@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

  -webkit-user-drag: none;
  -webkit-user-select: none;

  user-select: none;
}

a {
  color: #000;
  text-decoration: none;

  padding: 8px;
  border-radius: 10px;
  transition: background 0.3s;
}

a:hover {
  background: #dedede;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

  overflow: hidden;
}

#card {
  position: absolute;

  top: 0;
  left: 50%;

  transform: translateX(-50%);
  text-align: center;

  width: 40%;
  padding: 10px;

  border-radius: 0 0 15px 15px;

  background: #fff;
  transition: top 0.3s;
}

#card.hidden {
  top: -95px;
}

#info-card {
  position: absolute;

  top: 5vh;
  left: 50%;

  transform: translateX(-50%);
  text-align: center;

  width: 60%;
  height: 100vh;
  padding: 10px;

  border-radius: 15px 15px 0 0;

  background: #fff;
  transition: top 0.3s;
}

#info-card.hidden {
  top: 100vh;
  left: 50%;
}

main {
  width: 60%;
  height: 60vh;

  background: #fff;
  border-radius: 30px;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

main > * {
  width: 100%;
}

.buttons {
  width: 95%;
  height: 50px;
  margin: 20px;

  display: flex;
  justify-content: start;
  align-items: center;
}

.buttons * {
  z-index: 1;
}

#info-card,
#info-card * {
  z-index: 2;
}

.buttons a,
#info-card a:not(.zerar) {
  width: 25px;
  height: 25px;

  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.zerar {
  background-color: #000;
  padding: 10px;
  border-radius: 10px;
  color: #fff;

  display: inline-block;
}

.zerar:hover {
  background: #494949;
}

.btn {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;

  width: 80px;

  border: none;
  outline: none;
}

.btn-success {
  background-color: #000;
  color: #fff;
}

.btn-error {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.buttons img {
  width: 100%;
}

.buttons input {
  padding: 5px;
  border-radius: 5px;

  border: 1px solid #000;
  outline: none;
}

.password-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;

  border-radius: 5px;
  border: 1px solid #000;
  background: #fff;

  padding: 5px;
  padding-left: 10px;
}

.password-wrapper a {
  margin-left: 10px;
  font-size: 10pt;

  width: 50px;
  height: 18px;

  background: #2671e0;
  color: #fff;
  border: 1px solid #fff;
}

.main-content {
  height: auto;
  padding: 30px;

  position: relative;
  top: -50px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-content input {
  display: inline-block;
  font-size: 50pt;
  width: 40pt;

  margin: 5px;
  padding: 20px;
  text-align: center;

  border: 1px solid #000;
  outline: none;

  border-radius: 10px;
}

button#votar {
  margin-top: 20px;

  width: 210px;
  height: 50px;
  font-size: 14pt;

  background: #fff;

  border: 1px solid #000;
  outline: none;

  cursor: pointer;

  border-radius: 10px;
  transition: background 0.3s;
}

#details-wrapper {
  width: 90%;
  height: 50vh;

  padding: 20px;
  margin-top: 30px;

  margin-left: 50%;
  transform: translateX(-50%);
}

.details-line {
  display: flex;
  justify-content: start;
  align-items: center;
}

.details-line h2 {
  margin: 10px;
  padding: 10px;
}

.details-line h4 {
  background: #000;
  color: #fff;

  margin: 10px;
  padding: 10px;

  border-radius: 10px;
  margin-left: auto;
}

.null-votes {
  margin-left: 20px;
}

button#votar[disabled] {
  opacity: .6;
  cursor: not-allowed;
}

button#votar:not([disabled]) {
  background: #2671e0;
  color: #fff;
  border: 1px solid #fff;
}

div#noty_layout__topRight > div {
  border-radius: 10px;
  padding: 5px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
