@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

  -webkit-user-drag: none;
  -webkit-user-select: none;

  user-select: none;
}

a {
  color: #000;
  text-decoration: none;

  padding: 8px;
  border-radius: 10px;
  transition: background 0.3s;
}

a:hover {
  background: #dedede;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

#card {
  position: absolute;

  top: 0;
  left: 50%;

  transform: translateX(-50%);
  text-align: center;

  width: 30%;
  padding: 10px;

  border-radius: 0 0 15px 15px;

  background: #fff;
  transition: top 0.3s;
}

#card.hidden {
  top: -95px;
}

main {
  width: 60%;
  height: 60vh;

  background: #fff;
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main > * {
  width: 100%;
}

a#settings {
  width: 25px;
  height: 25px;
}

img.settings {
  width: 100%;
}

.header {
  height: 70px;
}

.buttons {
  width: 95%;
  height: 70px;

  margin: 30px;
  border-radius: 20px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background: #efefef;
}

.buttons a {
  margin: 10px;
}

.content-wrapper {
  height: auto;
  padding: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  display: inline-block;
  font-size: 50pt;
  width: 40pt;

  margin: 5px;
  padding: 20px;
  text-align: center;

  border: 1px solid #000;
  outline: none;

  border-radius: 10px;
}

button#votar {
  margin-top: 20px;

  width: 210px;
  height: 50px;
  font-size: 14pt;

  background: #fff;

  border: 1px solid #000;
  outline: none;

  cursor: pointer;

  border-radius: 10px;
  transition: background 0.3s;
}

button#votar[disabled] {
  opacity: .6;
  cursor: default;
}

button#votar:not([disabled]) {
  background: #2671e0;
  color: #fff;
  border: 1px solid #fff;
}

div#noty_layout__topRight > div {
  border-radius: 10px;
  padding: 5px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
